<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_greenatt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{52,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,60}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,58}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,118},{46,46}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{46,60}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,186},{42,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{42,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_greenatt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,64},{46,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_greenatt.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c747fede5aeb8078a5b4bed576b341a:1/1$</string>
            <key>textureFileName</key>
            <string>effect_greenatt.png</string>
        </dict>
    </dict>
</plist>
