<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{46,50}}</string>
                <key>offset</key>
                <string>{4,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,283},{46,50}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{34,48}}</string>
                <key>offset</key>
                <string>{5,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,284},{34,48}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,128},{36,42}}</string>
                <key>offset</key>
                <string>{6,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,285},{36,42}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,54},{46,36}}</string>
                <key>offset</key>
                <string>{4,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,287},{46,36}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,92},{46,34}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,288},{46,34}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{40,40}}</string>
                <key>offset</key>
                <string>{-1,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,286},{40,40}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{34,48}}</string>
                <key>offset</key>
                <string>{-1,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,283},{34,48}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,50}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,283},{46,50}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,50}}</string>
                <key>offset</key>
                <string>{4,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,283},{46,50}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gold.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1d44843a64c780e26f9acf41156479:1/1$</string>
            <key>textureFileName</key>
            <string>effect_gold.png</string>
        </dict>
    </dict>
</plist>
