<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_poison_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>effect_poison_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_positon.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ab72a176fd16e1a43ff582cd4deb587:1/1$</string>
            <key>textureFileName</key>
            <string>effect_positon.png</string>
        </dict>
    </dict>
</plist>
