<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gold_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,418},{46,50}}</string>
                <key>offset</key>
                <string>{4,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,283},{46,50}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,260},{60,156}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,171},{60,156}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,260},{82,236}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,106},{82,236}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{174,312}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,46},{174,312}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,288}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,50},{176,288}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{174,288}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,48},{174,288}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_gold_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{122,256}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{122,256}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gold_up.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad16063538581cb75e01339879e9eb8:1/1$</string>
            <key>textureFileName</key>
            <string>effect_gold_up.png</string>
        </dict>
    </dict>
</plist>
