<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>effect_ice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ice.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9bb8fbde9855164540f620b81c37a08:1/1$</string>
            <key>textureFileName</key>
            <string>effect_ice.png</string>
        </dict>
    </dict>
</plist>
