<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_levelup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,462},{78,48}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,138},{78,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{116,72}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,129},{116,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,240},{156,116}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,102},{156,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{162,188}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{162,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,236},{168,224}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{168,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{174,232}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{174,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,236}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{180,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{130,236}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{130,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_levelup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,358},{122,232}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{122,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_levelup.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da61d94eb3a5acf8795c1191841d2483:1/1$</string>
            <key>textureFileName</key>
            <string>effect_levelup.png</string>
        </dict>
    </dict>
</plist>
