<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_redatt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{36,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{36,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{32,40}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{32,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,42}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,38},{32,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{32,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,78},{30,38}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{30,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{28,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,38},{28,38}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{28,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_redatt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{32,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{32,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_redatt.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263db29c1c4d9ca3bafb3c7243c9fef7:1/1$</string>
            <key>textureFileName</key>
            <string>effect_redatt.png</string>
        </dict>
    </dict>
</plist>
